.git
.gitignore
.env.local
.env.*.local
node_modules
vendor
var/cache
var/log
var/sessions
public/assets
assets/vendor
cypress
cypress.config.js
package.json
package-lock.json
phpunit.dist.xml
tests
docs
*.md
