@import "tailwindcss";

@theme {
    --color-primary-50:  #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;

    --color-status-open:        #fef9c3;
    --color-status-open-text:   #854d0e;
    --color-status-progress:    #dbeafe;
    --color-status-progress-text: #1e40af;
    --color-status-closed:      #f3f4f6;
    --color-status-closed-text: #6b7280;
}
